*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.road{
    width: 30%;
    height: 200%;
    position:absolute;
    top: -5%;
    left: 30%;
    z-index: 1;

    background-size: cover;
    animation-duration: 0.1s;
    animation-name: fade-bg-1;
    animation-delay: 0, 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.car{
    width: 10%;
    height: 15%;
    position:absolute;
    top: 20%;
    left: 47%;
    z-index: 2;
}

@keyframes fade-bg-1 {
    from {
    transform: translateY(2%);
    }

    50% {
    transform: translate(0);
    }
    
    to {
        transform: translateY(-2%);
    }
}
