.road{
    width: 200px;
    height: 320px;
    position:absolute;
    top: -20px;
    left: 175px;
    z-index: 1;

    background-size: cover;
    animation-duration: 0.1s;
    animation-name: fade-bg-1;
    animation-delay: 0, 0.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.car{
    width: 70px;
    height: 70px;
    position:absolute;
    top: 70px;
    left: 290px;
    z-index: 2;
}

@keyframes fade-bg-1 {
    from {
    transform: translateY(20px);
    }

    50% {
    transform: translate(0px);
    }
    
    to {
        transform: translateY(-20px);
    }
}
